---
layout: default
single: true
---

   <section class="blog">
    <div class="blog_mian blog_index">
              <article class="hentry" role="article">
  {% include article_post.html %}

         </article><!-- 内容列表页包裹结束 -->  

    <div class="pagination">    
            {% if page.previous.url %}<a href="{{page.previous.url}}" class="prev" title="Previous Post: {{page.previous.title}}">← {{page.previous.title}}</a>    {% endif %}
    <a href="/blog/archives">Blog Archives</a>
    {% if page.next.url %}<a href="{{page.next.url}}" class="next" title="Next Post: {{page.next.title}}">{{page.next.title}} →</a> {% endif %} 


   </div>  
      <!-- 分页 --> 

{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}


    </div>

  {% include blog_sider.html %}




   </section>
