<hgroup>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>


 <header>
    <div class="header_wp">
     

      <h1><a href="index.html" title="Allan's Home"><i id="logo" ><img src="img/logo.png" alt="Allan's LOGO"></i><strong>Allan's <span>Home</span></strong></a></h1>
	  <nav>
	     <ul>
	      <li><a href="index.html" title="Allan's Album">Album</a></li>
	      <li class="cur"><a href="about.html" title="ABout Allan">ABout</a></li>
	     </ul>
	  </nav>
    </div>
   </header> 
