{% capture category %}{{ post.categories | size }}{% endcapture %}           
              <dl>
                  <dt><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></dt>
                  <dd class="t"><time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span>"}}</time></dd>
                  {% if category != '0' %}
                  <dd><span class="categories">posted in {{ post.categories | category_links }}</span></dd>
                  {% endif %}
              </dl>



