


<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">

  <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
<link rel="shortcut icon" href="http://allan5.com/favicon.ico">
<link rel="Bookmark" href="http://allan5.com/favicon.ico">
<meta name="viewport" content="width=device-width; initial-scale=1.0;maximum-scale=1">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple_icon.png" />
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<!--[if lt IE 9]><link rel="stylesheet" href="http://allan5.com/css/fall_ie.css" type="text/css" media="screen" /><![endif]-->
<!--[if !lt IE 9]><!--> <link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="http://allan5.com/css/core.css"  /><link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="http://allan5.com/css/blog.css"  />
<link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="http://allan5.com/css/jquery.fancybox-1.3.4.css"  />
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js'></script>
<!--<![endif]-->
</head>

 <header>
    <div class="header_wp">
     

      <h1><a href="index.html" title="Allan's Home"><i id="logo" ><img src="http://allan5.com/img/logo.png" alt="Allan's LOGO"></i><strong>Allan's <span>Home</span></strong></a></h1>
    <nav>
       <ul>
        <li><a href="http://allan5.com/index.html" title="Allan's Album">Album</a></li>
        <li><a href="http://allan5.com/about.html" title="ABout Allan">ABout</a></li>
        <li class="cur"><a href="http://blog.allan5.com/" title="Allan's Blog">Blog</a></li>
       </ul>
    </nav>
    </div>
   </header> 
<!--[if lt IE 9]>
<div id="tips_for_fall_ie" style="display:none">
  <p>系统检测到您正在使用IE浏览器的低级版本，它们会加速世界的灭亡。</p>
  <p>这样造成了服务器短路，展示给您了一个非常不美观的页面。</p>
  <p>为了世界更美好，网站的体验更好，请勇敢升级您的浏览器吧！<a id="see_thumb" href="#" title="偷窥网站截图">偷窥高级浏览器网站截图<img src="http://allan5.com/img/temp.jpg" alt="网站截屏"></a></p>
  <p> <a href="http://www.google.com/chrome/eula.html?hl=zh-CN" target="_blank">点击下载Chrome，推荐使用</a>/<a href="http://www.firefox.com.cn/download/" target="_blank">点击下载Firefox。</a>/<a href="http://www.apple.com.cn/safari/download/" target="_blank">点击下载Safari。</a>/<a href="http://info.msn.com.cn/ie9/" target="_blank">点击下载IE9。</a></p>
  <p id="close"><a href="#" title="对IE6有特殊的嗜好，请关掉善意提醒。">对IE浏览器的低级版本有特殊的嗜好，请关掉善意提醒。</a></p>
</div>
<p id='f' style="display:none"><a href="#" title="展开浏览器升级提醒">展开浏览器升级提醒</a></p>
<![endif]-->