---
layout: default
---
   <section class="blog">
    <div class="blog_mian blog_index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}



        <article class="hentry" role="article">
      {% include article.html %}

         </article><!-- 内容列表页包裹结束 -->  

  {% endfor %}


    
    <div class="pagination">    
      {% if paginator.next_page %}<a href="{{paginator.next_page}}" class="prev">← Older</a>    {% endif %}
    <a href="/blog/archives">Blog Archives</a>
     {% if paginator.previous_page %}<a href="{{paginator.previous_page}}" class="next">Newer →</a>{% endif %}  


   </div>  
      <!-- 分页 --> 



    </div>


  {% include blog_sider.html %}



   </section>



